:root {
  --rose: hsl(332, 51%, 32%);
  --rose-pastel: hsl(330, 100%, 98%);
  --stone_dark: hsl(24, 5%, 18%);
  --stone_medium: hsl(30, 10%, 34%);
  --stone_grey: hsl(30, 18%, 87%);
  --stone_cream: hsl(30, 54%, 90%);
  --brown: hsl(14, 45%, 36%);
  --white: hsl(0, 0%, 100%);
}

/* LAYOUT */

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 736px;
}

.card_content {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content_ingredients,
.content_content_instruction,
.content_nutrition,
.card_header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1,
h2 {
  font-family: var(--young_f);
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
  color: var(--stone_dark);
}
h2 {
  font-size: 1.75rem;
  color: var(--brown);
}
h3 {
  color: var(--rose);
  font-size: 1.25rem;
  font-family: var(--embed_f);
  font-weight: 600;
}

p,
li {
  font-family: var(--embed_f);
  font-size: 1rem;
  color: var(--stone_medium);
}

.content_preparation-time strong {
  font-weight: 700;
}

hr {
  border: 1px solid var(--stone_grey);
}

.content_preparation-time {
  background-color: var(--rose-pastel);
  max-width: 19, 4375rem;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  padding-left: 1rem;
}

li::marker {
  color: var(--rose);
  font-weight: bold;
  font-size: 0.9rem;
}
