:root {
  --rose: hsl(332, 51%, 32%);
  --rose-pastel: hsl(330, 100%, 98%);
  --stone_dark: hsl(24, 5%, 18%);
  --stone_medium: hsl(30, 10%, 34%);
  --stone_grey: hsl(30, 18%, 87%);
  --stone_cream: hsl(30, 54%, 90%);
  --brown: hsl(14, 45%, 36%);
  --white: hsl(0, 0%, 100%);
}

/* LAYOUT */

body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 736px;
}

.card_content {
  padding: 40px 32px;
}
